.center {
  width: 35%;
  img {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 25px;
  }
  .head {
    color: #202124;
    font-size: 28px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .head2 {
    font-size: 16px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 14px;
    margin-top: 40px;
  }
  strong {
    color: blue;
  }
}
