.center {
  width: 35%;
  img {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 25px;
  }
  .round {
    border-radius: 20px;
    -webkit-box-sizing: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
  }
  input,
  label {
    font-size: 18px;
  }
  .head {
    color: #202124;
    font-size: 28px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .head2 {
    font-size: 16px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 14px;
    margin-top: 40px;
  }
  strong {
    color: blue;
  }
}
@media (max-width: 1190px) {
  .center {
    width: 50% !important ;
  }
}
@media (max-width: 900px) {
  .center {
    width: 60% !important ;
  }
}
@media (max-width: 800px) {
  .center {
    width: 70% !important ;
  }
}
@media (max-width: 700px) {
  .center {
    width: 80% !important ;
  }
}
@media (max-width: 600px) {
  .center {
    width: 90% !important ;
  }
}
@media (max-width: 553px) {
  .card {
    border: none !important;
  }
  .center {
    margin-top: 20px !important;
    width: 100% !important;
  }
  .body {
    width: 95% !important;
  }
  img {
    min-width: 40%;
  }
}
@media (max-width: 320px) {
  .body {
    width: 100% !important;
  }
  .round {
    padding: 4px;
  }
  .flex {
    flex-direction: column-reverse;
    width: 70% !important;
    margin: auto;
  }
}
