<div class="card mx-auto mt-5 p-5 center" style="height: 80vh">
  <img src="../../../assets/images/vector2.svg" alt="" />

  <h3 class="mt-3 head">Hi {{ name }}</h3>
  <div class="w-75 mx-auto text-center">
    <select name="" id="" class="rounded p-1">
      <option value="">{{ email }}</option>
    </select>
  </div>
  <p class="mt-1 head2 head"></p>

  <input [type]="password" [(ngModel)]="pass" /> <br />
  <small *ngIf="error" class="text-danger">Incorrect password</small>
  <div>
    <input
      type="checkbox"
      class="mt-3 mr-3"
      (click)="show()"
      style="width: 10px; text-align: center"
    />
    <label for=""> Show password</label>
  </div>

  <div class="d-flex mt-5" style="justify-content: space-between">
    <strong routerLink="/"> Forgot password</strong>
    <button class="btn btn-primary" (click)="check()" [disabled]="pass == ''">
      Next <i class="fa fa-spin fa-spinner" *ngIf="select"></i>
    </button>
  </div>
</div>
