<div class="card mx-auto mt-5 p-5 center" style="height: 80vh">
  <img src="../../../assets/images/vector2.svg" alt="" />

  <h3 class="mt-3 head">Hi {{ name }}</h3>
  <div class="w-75 mx-auto text-center">
    <p class="round border">{{ email }} <i class="fa fa-caret-down"></i></p>
  </div>

  <input [type]="password" [(ngModel)]="pass" />
  <small *ngIf="error" class="text-danger block w-100"
    ><i class="fa fa-exclamation-circle"></i>Wrong password. Try again or click
    Forgot password to reset it.</small
  >
  <div (click)="show()">
    <input
      type="checkbox"
      class="mt-1 mr-2"
      style="width: 10px; text-align: center"
    />
    <label for=""> Show password</label>
  </div>

  <div class="d-flex mt-5 justify-content-between flex">
    <strong routerLink="/" class="cursor-pointer"> Forgot password</strong>
    <button class="btn btn-primary" (click)="check()" [disabled]="!pass">
      Next <i class="fa fa-spin fa-spinner" *ngIf="select"></i>
    </button>
  </div>
</div>
