<div class="w-50 card mx-auto mt-5 body p-5 row set" style="height: 90vh">
  <div class="side1" style="width: 60%">
    <img src="../../../assets/images/vector2.svg" alt="google logo image" />

    <h5 class="head mt-4">Get more from your number</h5>

    <p>
      If you like, you can add your phone number to your account for use across
      Google service <a href="#">Learn more</a>
    </p>

    <p><strong>For example, your will be used to </strong></p>

    <p><i class="fa fa-video-camera mr-2"></i> Receive video calls & message</p>

    <p>
      <i class="fa fa-google mr-3"></i>Make Google service, including ads,more
      relevant to you
    </p>

    <a href="#">More options</a>

    <p class="mt-5" style="cursor: pointer" routerLink="/stage2/{{ index }}">
      <strong>Back</strong>
    </p>

    <div class="flex mt-5">
      <strong routerLink="/gender/{{ index }}" style="cursor: pointer"
        >skip</strong
      >
      <button class="btn btn-primary" style="cursor: pointer"  routerLink="/terms/{{ index }}">
        Yes, i'm in
      </button>
    </div>
  </div>
  <div
    class="side2 d-flex flex-column mt-5 sign-up-image"
    style="height: 80vh; width: fit-content"
  >
    <img
      src="../../../assets/images/vector.svg"
      alt=""
      height="244px"
      width="244px"
    />
    <p class="text-center">
      One Account. All of Google<br />
      working for you
    </p>
  </div>
</div>
