.head {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .wid {
    width: 250px;
  }
  .active {
    border-bottom: 2px solid blue;
  }
}
.mail {
  .cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // .break {
  //   word-wrap: break-word;
  // }
  .none {
    display: none !important;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.mail:hover {
  box-shadow: 1px 2px 2px rgb(195, 194, 194);
  .none {
    display: inherit !important;
  }
  .none2 {
    pointer-events: none !important;
    cursor: pointer !important;
  }
  .no {
    display: none;
  }
}
