<div class="head pl-3">
  <div class="wid">
    <i class="fa fa-square-o mr-3"></i>
    <span>Primary</span>
  </div>
  <div class="wid">
    <i class="fa fa-tag mr-3"></i>
    <span>Promotions</span>
  </div>
  <div class="wid">
    <i class="fa fa-user-o mr-3"></i>
    <span>Social</span>
  </div>
</div>
<div
  class="mail w-100 d-flex align-item-center justify-content-start pb-2 mb-1"
  style="
    height: 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #ced0d0;
  "
  *ngFor="let mail of mail; let i = index"
>
  <div class="pl-3 mr-4">
    <input type="checkbox" name="" id="" />
    <i
      class="{{
        mail.star ? ' fa fa-star text-warning ml-3' : ' fa fa-star-o  ml-3'
      }}"
      (click)="add(i)"
    ></i>
  </div>
  <div
    class="d-flex align-item-center justify-content-start w-75 cut"
    routerLink="{{ index }}/message/{{ i }}"
  >
    <p>{{ mail.From }}</p>
    <p class="ml-5 mr-3">{{ mail.subject | slice: 0:30 }}-</p>
    <p class="break mr-3">{{ mail.body | slice: 0:55 }}</p>
    <p class="pr-2 no">{{ mail.date | date: "shortDate" }}</p>
  </div>
  <div class="none">
    <i class="fa fa-archive" (click)="archive(i)"></i>
    <i class="fa fa-trash-o" (click)="del(i)"></i>
    <i class="fa fa-inbox"></i>
    <i class="fa fa-clock-o"></i>
  </div>
</div>
