.head {
  color: #202124;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
strong {
  color: blue;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
