<div class="card w-50 p-5 mt-4 mx-auto" style="min-height: 80vh">
  <div class="side1 w-75">
    <img
      src="../../../assets/images/vector2.svg"
      alt=""
      style="width: 15%; height: 20px"
    />
    <h5 class="head mt-3">Privacy and Terms</h5>

    <p>
      To create a Google Account, you’ll need to agree to the
      <a href="#">Terms of Service</a> below.
    </p>

    <p>
      In addition, when you create an account, we process your information as
      described in our Privacy Policy, including these key points:
    </p>

    <h6>Data we process when you use Google</h6>

    <ul>
      <li>
        When you set up a Google Account, we store information you give us like
        your name, email address, and telephone number.
      </li>
      <li>
        When you use Google services to do things like write a message in Gmail
        or comment on a YouTube video, we store the information you create.
      </li>
      <li>
        When you search for a restaurant on Google Maps or watch a video on
        YouTube, for example, we process information about that activity –
        including information like the video you watched, device IDs, IP
        addresses, cookie data, and location.
      </li>
      <li>
        .We also process the kinds of information described above when you use
        apps or sites that use Google services like ads, Analytics, and the
        YouTube video player.
      </li>
    </ul>

    <h6>Why we process it</h6>

    <p>
      We process this data for the purposes described in
      <a href="#">our policy</a>, including to:
    </p>

    <ul>
      <li>
        Help our services deliver more useful, customized content such as more
        relevant search results;
      </li>
      <li>Improve the quality of our services and develop new ones;</li>
      <li>
        Deliver personalized ads, depending on your account settings, both on
        Google services and on sites and apps that partner with Google;
      </li>
      <li>Improve security by protecting against fraud and abuse; and</li>
      <li>
        Conduct analytics and measurement to understand how our services are
        used. We also have partners that measure how our services are used.
        <a href="#">Learn more</a> about these specific advertising and
        measurement partners.
      </li>
    </ul>

    <h6>Combining data</h6>
    <p>
      We also combine this data among our services and across your devices for
      these purposes. For example, depending on your account settings, we show
      you ads based on information about your interests, which we can derive
      from your use of Search and YouTube, and we use data from trillions of
      search queries to build spell-correction models that we use across all of
      our services.
    </p>

    <h6>You're in control</h6>

    <p>
      Depending on your account settings, some of this data may be associated
      with your Google Account and we treat this data as personal information.
      You can control how we collect and use this data now by clicking “More
      Options” below. You can always adjust your controls later or withdraw your
      consent for the future by visiting My Account (myaccount.google.com).
    </p>

    <strong>More option <i class="fa fa-caret-down"></i></strong>

    <div class="flex mt-5">
      <strong routerLink="/gender/" style="cursor: pointer">Cancel</strong>
      <button class="btn btn-primary" style="cursor: pointer" (click)="agree()">
        i agree
      </button>
    </div>
  </div>
</div>
