<br />
<div
  class="mail w-100 d-flex align-item-center justify-content-between pb-2 mb-2"
  style="
    height: 30px;
    background-color: rgb(239, 237, 237);
    border-bottom: 1px solid rgb(169, 163, 163);
    cursor: pointer;
  "
  *ngFor="let mail of star; let i = index"
>
  <div class="pl-3">
    <input type="checkbox" name="" id="" />
    <i
      class="{{
        star ? ' fa fa-star text-warning ml-3' : ' fa fa-star-o  ml-3'
      }}"
      (click)="remove(i)"
    ></i>
  </div>
  <div
    class="d-flex align-item-center justify-content-between w-75"
    [routerLink]="['message', i]"
  >
    <p>{{ mail.From }}</p>
    <p>{{ mail.subject | slice: 0:20 }}</p>
    <p>{{ mail.body | slice: 0:20 }}</p>
    <p class="pr-2 no">{{ mail.date | date: "shortDate" }}</p>
  </div>
  <div class="none">
    <i class="fa fa-archive" (click)="archive(i)"></i>
    <i class="fa fa-trash-o" (click)="del(i)"></i>
    <i class="fa fa-inbox"></i>
    <i class="fa fa-clock-o"></i>
  </div>
</div>
