.center {
  width: 35%;
  margin-top: 80px;
  display: flex;
  // justify-content: center;
  align-items: center;
  img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 20%;
    height: 25px;
  }
  .head {
    color: #202124;
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  ::-webkit-scrollbar {
    width: 0px !important;
  }
  .sect {
    overflow: scroll;
    .cir {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: blue;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
    .name {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      margin-top: -5px;
      font-weight: 500;
    }
    .firm:hover {
      background-color: rgb(128, 128, 244);
    }
  }
}

@media (max-width: 1000px) {
  .center {
    width: 50% !important ;
  }
}
@media (max-width: 900px) {
  .center {
    width: 60% !important ;
  }
}
@media (max-width: 800px) {
  .center {
    width: 70% !important ;
  }
}
@media (max-width: 700px) {
  .center {
    width: 80% !important ;
  }
}
@media (max-width: 600px) {
  .center {
    width: 90% !important ;
  }
}
@media (max-width: 513px) {
  .card {
    border: none !important;
  }
  .center {
    margin-top: 20px !important;
    width: 100% !important;
  }
  .body {
    width: 95% !important;
  }
}
@media (max-width: 320px) {
  .body {
    width: 100% !important;
  }
}
